# data directory used for local development
.opsicle

# dependencies/go stuff
.gocache
vendor

# for local environment variable management
.envrc

data/.mongodb/data
data/.mysql/data
data/.nats/data
data/.redis/data
